@use "vars";
@use "mixins";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

@font-face {
    font-family: "Articulat";
    src: url("/res//fonts/ArticulatCF-Normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

::selection {
    $selection-col: adjust-color(
        $color: vars.$col_contrast1,
        $alpha: -0.5,
    );
    background-color: $selection-col;
    box-shadow: 0px 0px 2px $selection-col;
}

body {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: vars.$col_contrast2;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: vars.$col_bg;
    }
}

body {
    color: vars.$col_fg;
    overscroll-behavior: none;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: "Articulat", sans-serif;
    font-weight: bold;
    letter-spacing: 0.8mm;
    @include mixins.breakpoint(desktop) {
        letter-spacing: 1.5mm;
    }
    margin: 0;
}

p {
    text-align: left;
    font-size: 4mm;
    @include mixins.breakpoint(desktop) {
        text-align: justify;
        font-size: 4.5mm;
    }
    letter-spacing: 0.7mm;
}

.hidden {
    display: none;
}
