@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  background: #000000;
  color: #ffffff;
  overscroll-behavior: none;
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8mm;
  margin: 0;
}
@media (min-width: 1200px) {
  h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1.5mm;
  }
}

p {
  text-align: left;
  font-size: 4mm;
  letter-spacing: 0.7mm;
}
@media (min-width: 1200px) {
  p {
    text-align: justify;
    font-size: 4.5mm;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.hero .logo {
  width: 85%;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: backwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  margin-top: 30vh;
  padding-top: 2vh;
}
@media (min-width: 1200px) {
  .hero .logo {
    width: 60%;
  }
}
.hero .stl {
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: backwards;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  font-family: Arial, sans-serif;
  width: 70%;
  font-size: 4mm;
  letter-spacing: 2mm;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero .stl {
    font-size: 4.5mm;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  font-size: 5mm;
  letter-spacing: 1mm;
  z-index: 10;
}
.main-nav .right {
  margin-left: auto;
}
.main-nav .left {
  margin-top: 1rem;
}
.main-nav .left img {
  height: 2rem;
}
.main-nav #nav-items {
  display: none;
  list-style: none;
  margin: 0;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
}
.main-nav #nav-items li {
  position: relative;
}
.main-nav #nav-items li a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.main-nav #nav-items li:hover a {
  filter: drop-shadow(0 1px 0 #00ccff) drop-shadow(0 0.7px 0 #00a3ff) drop-shadow(0 1.05px 0 #007aff) drop-shadow(0 1.4px 0 #0052ff) drop-shadow(0 1.75px 0 #0000ff) drop-shadow(0 2.1px 0 #0700c4);
  transition: filter 0.15s ease-in-out;
}
.main-nav .nav-toggle {
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
  filter: brightness(100);
  margin: 1rem 0;
}
.main-nav #nav-close {
  float: right;
  display: none;
}
.main-nav[data-open-mobile=true] {
  align-items: flex-start;
}
.main-nav[data-open-mobile=true] .right {
  background-color: #000000;
  padding-bottom: 1rem;
}
.main-nav[data-open-mobile=true] #nav-items {
  display: flex;
  width: 100%;
}
.main-nav[data-open-mobile=true] #nav-close {
  display: initial;
}
.main-nav[data-open-mobile=true] #nav-open {
  display: none;
}
@media (min-width: 1200px) {
  .main-nav .right {
    margin-top: 1.3rem;
    align-self: center;
  }
  .main-nav #nav-items {
    display: flex;
    flex-direction: row;
  }
  .main-nav #nav-items li + li::before {
    content: "|";
    position: absolute;
    left: -0.9em;
  }
  .main-nav .nav-toggle {
    display: none;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
  width: min(85vw, 1200px);
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-l-r,
.title-r-l {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.title-l-r .title,
.title-r-l .title {
  grid-area: header;
  margin: 0;
}
.title-l-r .left,
.title-r-l .left {
  grid-area: left;
  margin: 0;
}
.title-l-r .right,
.title-r-l .right {
  grid-area: right;
}

.title-l-r {
  grid-template-areas: "header" "left" "right";
}

.title-r-l {
  grid-template-areas: "header" "right" "left";
}

.title-c {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

@media (min-width: 1200px) {
  .title-c {
    gap: 1rem;
  }
  .title-l-r,
.title-r-l {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 3rem;
  }
  .title-l-r.f1-2,
.title-r-l.f1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .title-l-r {
    grid-template-areas: "header right" "left right";
  }
  .title-r-l {
    grid-template-areas: "left header" "left right";
  }
}
.what-we-do .feature-grid {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 0;
}
.what-we-do .feature-grid .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.what-we-do .feature-grid .feature .image {
  height: 3rem;
}
.what-we-do .feature-grid .feature .name {
  margin-top: 1rem;
  font-size: 0.6rem;
}
@media (min-width: 1200px) {
  .what-we-do .feature-grid {
    gap: 2rem;
  }
  .what-we-do .feature-grid .feature .image {
    height: 3rem;
  }
  .what-we-do .feature-grid .feature .name {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}

.projects .carousel {
  width: min(100%, 1200px);
  margin: auto;
}
@media (min-width: 1200px) {
  .projects .carousel {
    height: 400px;
  }
}
.projects .project {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 40vw auto;
  grid-template-areas: "heading" "image" "text";
  justify-content: flex-start;
}
@media (min-width: 1200px) {
  .projects .project {
    height: 100%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "image heading" "image text";
  }
  .projects .project .image {
    height: 30vh;
  }
}
.projects .project .image {
  grid-area: image;
  position: relative;
}
.projects .project .image .laptop {
  position: absolute;
  width: 80%;
  left: 0;
}
.projects .project .image .mobile {
  position: absolute;
  width: 30%;
  right: 5%;
  top: 20%;
}
.projects .project .name {
  grid-area: heading;
}
.projects .project .text {
  grid-area: text;
}
.projects .project .text .quote {
  font-style: italic;
}
.projects .project .text .author {
  text-align: right;
}
.projects .project .text .view {
  display: block;
  width: fit-content;
  height: fit-content;
  background: none;
  border: 2px solid #ffffff;
  padding: 5px 3ch;
  color: #ffffff;
  border-radius: 1rem;
  margin: auto auto;
  text-decoration: none;
  filter: none;
  transform: none;
  cursor: pointer;
}
.projects .project .text .view:hover, .projects .project .text .view:focus {
  filter: drop-shadow(0 1px 0 #00ccff) drop-shadow(0 0.7px 0 #00a3ff) drop-shadow(0 1.05px 0 #007aff) drop-shadow(0 1.4px 0 #0052ff) drop-shadow(0 1.75px 0 #0000ff) drop-shadow(0 2.1px 0 #0700c4);
  transition: filter 0.15s ease-in-out;
}
.projects .project .text .view:active {
  transform: scale(1.04);
}

.carousel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "left content right";
  gap: 1rem;
}
.carousel .carousel-items {
  grid-area: content;
  width: 100%;
  height: 100%;
}
.carousel .carousel-items .carousel-item {
  visibility: hidden;
  display: none;
}
.carousel .carousel-items .carousel-item[data-active=true] {
  visibility: visible;
  display: block;
  height: auto;
}
.carousel .carousel-btn {
  border: none;
  background: none;
  align-self: flex-start;
  margin-top: 20vh;
}
.carousel .carousel-btn .arrow {
  height: 1.2rem;
  filter: none;
  transform: none;
  cursor: pointer;
}
.carousel .carousel-btn .arrow:hover, .carousel .carousel-btn .arrow:focus {
  filter: brightness(0.8);
}
.carousel .carousel-btn .arrow:active {
  filter: brightness(0.9);
}
.carousel .carousel-btn .arrow:hover, .carousel .carousel-btn .arrow:focus {
  filter: drop-shadow(0 1px 0 #00ccff) drop-shadow(0 0.7px 0 #00a3ff) drop-shadow(0 1.05px 0 #007aff) drop-shadow(0 1.4px 0 #0052ff) drop-shadow(0 1.75px 0 #0000ff) drop-shadow(0 2.1px 0 #0700c4);
  transition: filter 0.15s ease-in-out;
}
.carousel .carousel-btn .arrow:active {
  transform: scale(1.04);
}
.carousel .carousel-btn.left {
  grid-area: left;
}
.carousel .carousel-btn.right {
  grid-area: right;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
  align-items: stretch;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  color: white;
  background: none;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  resize: none;
}
.contact-form input:focus-within,
.contact-form select:focus-within,
.contact-form textarea:focus-within {
  outline: #00ccff auto 1px;
}
.contact-form .select-div {
  position: relative;
}
.contact-form .select-div::after {
  content: "∨";
  position: absolute;
  color: rgb(173, 173, 173);
  right: 1rem;
  font-weight: bold;
  top: 25%;
}
.contact-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.contact-form .submit {
  width: fit-content;
  height: fit-content;
  background: none;
  border: 2px solid #ffffff;
  padding: 5px 3ch;
  color: #ffffff;
  border-radius: 1rem;
  margin: auto auto;
  text-decoration: none;
  filter: none;
  transform: none;
  cursor: pointer;
}
.contact-form .submit:hover, .contact-form .submit:focus {
  filter: drop-shadow(0 1px 0 #00ccff) drop-shadow(0 0.7px 0 #00a3ff) drop-shadow(0 1.05px 0 #007aff) drop-shadow(0 1.4px 0 #0052ff) drop-shadow(0 1.75px 0 #0000ff) drop-shadow(0 2.1px 0 #0700c4);
  transition: filter 0.15s ease-in-out;
}
.contact-form .submit:active {
  transform: scale(1.04);
}

.story {
  margin-bottom: 25vh;
}
.story .image-container {
  position: relative;
}
.story .image-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
}
.story .story-img {
  width: 100%;
}
