$col_bg: #000000;
$col_fg: #ffffff;
$col_contrast1: #00ccff;
$col_contrast2: #00a3ff;
$col_contrast3: #007aff;
$col_contrast4: #0052ff;
$col_contrast5: #0000ff;
$col_contrast6: #0700c4;

body {
    background: $col_bg;
    color: $col_fg;
    overscroll-behavior: none;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
}
p {
    text-align: justify;
    font-size: 5mm;
}
