@use "vars";
@use "mixins";
@use "pre";

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    .logo {
        width: 85%;

        @include mixins.fadeIn(0.5s, 0s);
        @include mixins.breakpoint(desktop) {
            width: 60%;
        }
        margin-top: 30vh;
        padding-top: 2vh;
    }
    .stl {
        @include mixins.fadeIn(1s, 1s);
        font-family: Arial, sans-serif;
        width: 70%;
        font-size: 4mm;
        letter-spacing: 2mm;
        font-weight: normal;
        @include mixins.breakpoint(desktop) {
            font-size: 4.5mm;
        }
        text-align: center;
    }
}

.main-nav {
    position: fixed;
    top: 0;
    background-color: adjust-color($color: vars.$col_bg, $alpha: -0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    font-size: 4.5mm;
    letter-spacing: 1mm;
    z-index: 10;
    .right {
        transform: translateX(200);

        margin-left: auto;
    }
    .left {
        transform: translateX(-200);

        margin: 0.8rem 0;
        img {
            height: 2.5rem;
        }
    }

    // margin-top: 1rem;

    #nav-items {
        display: none;
        list-style: none;
        margin: 0;
        flex-direction: column;
        gap: 2rem;
        li {
            position: relative;
            a {
                color: vars.$col_fg;
                text-decoration: none;
                cursor: pointer;
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */
            }
            &:hover a {
                @include mixins.blue-drop-shadow;
            }
        }
    }

    .nav-toggle {
        border: none;
        background: none;
        color: vars.$col_fg;
        cursor: pointer;
        height: 1.8rem;
        width: 1.8rem;
        filter: brightness(100);
        margin: 1rem 0;
    }
    #nav-close {
        float: right;
        display: none;
    }
    &[data-open-mobile="true"] {
        .right {
            background-color: vars.$col_bg;
            padding-bottom: 1rem;
        }
        align-items: flex-start;
        #nav-items {
            display: flex;
            width: 100%;
        }
        #nav-close {
            display: initial;
        }
        #nav-open {
            display: none;
        }
    }

    @include mixins.breakpoint(desktop) {
        .right {
            align-self: center;
        }
        #nav-items {
            display: flex;
            flex-direction: row;

            li {
                & + li::before {
                    content: "|";
                    position: absolute;
                    left: -1.15em;
                }
            }
        }

        .nav-toggle {
            display: none;
        }
    }
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
    width: min(90vw, 1250px);
    margin: 0 auto;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 3vw;
}

.title-l-r,
.title-r-l {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    .title {
        grid-area: header;
        margin: 0;
    }
    .left {
        grid-area: left;
        margin: 0;
    }
    .right {
        grid-area: right;
    }
}
.title-l-r {
    grid-template-areas:
        "header"
        "left"
        "right";
}
.title-r-l {
    grid-template-areas:
        "header"
        "right"
        "left";
}

.title-c {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.5rem;
}

@include mixins.breakpoint(desktop) {
    .title-c {
        gap: 1rem;
    }
    .title-l-r,
    .title-r-l {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 3rem;

        &.f1-2 {
            grid-template-columns: 1fr 2fr;
        }
    }
    .title-l-r {
        grid-template-areas:
            "header right"
            "left right";
    }
    .title-r-l {
        grid-template-areas:
            "left header"
            "left right";
    }
}

.what-we-do {
    .feature-grid {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 3rem 0;
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            .image {
                height: 3rem;
            }
            .name {
                margin-top: 1rem;
                font-size: 0.6rem;
            }
        }

        @include mixins.breakpoint(desktop) {
            gap: 2rem;

            .feature {
                .image {
                    height: 3rem;
                }
                .name {
                    margin-top: 1rem;

                    font-size: 0.8rem;
                }
            }
        }
    }
}

.projects {
    .carousel {
        width: 100%;
        @include mixins.breakpoint(desktop) {
            height: 400px;
        }
        margin: auto;
    }

    .project {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 45vw auto;
        grid-template-areas: "heading" "image" "text";
        justify-content: flex-start;
        @include mixins.breakpoint(desktop) {
            height: 100%;
            grid-template-columns: 3fr 2fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "image heading"
                "image text";
            .image {
                height: 30vh;
            }
        }

        .image {
            grid-area: image;
            position: relative;
            .laptop {
                position: absolute;
                width: 80%;
                left: 0;
            }
            .mobile {
                position: absolute;
                width: 30%;
                right: 5%;
                top: 20%;
                @include mixins.breakpoint(desktop) {
                    top: 50%;
                }
            }
        }
        .name {
            grid-area: heading;
        }
        .text {
            grid-area: text;
            .quote {
                font-style: italic;
            }
            .author {
                text-align: right;
            }
            .view {
                display: block;
                margin: 0 auto;
                @include mixins.button-style;
            }
        }
    }
}

.carousel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "left content right";
    gap: 2rem;
    .carousel-items {
        width: 100%;
        display: block;
        grid-area: content;
        .carousel-item {
            display: none;
            visibility: hidden;
        }
        .carousel-item[data-active="true"] {
            display: block;
            visibility: visible;
        }
    }

    .carousel-btn {
        border: none;
        background: none;
        align-self: flex-start;
        margin-top: 20vh;
        .arrow {
            height: 1.2rem;
            &:hover,
            &:focus {
                filter: brightness(0.8);
            }
            &:active {
                filter: brightness(0.9);
            }
            @include mixins.blue-clickable;
        }
        &.left {
            grid-area: left;
        }
        &.right {
            grid-area: right;
        }
    }
}

.contact-form {
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin-bottom: 1rem;
        align-items: stretch;
    }

    input,
    select,
    textarea {
        width: 100%;
        color: white;
        background: none;
        padding: 0.5rem 1rem;
        border: 2px solid white;
        border-radius: 2rem;
        resize: none;

        &:focus-within {
            outline: vars.$col_contrast1 auto 1px;
        }
    }
    .select-div {
        position: relative;
        &::after {
            content: "∨";
            position: absolute;
            color: rgb(173, 173, 173);
            right: 1rem;
            font-weight: bold;
            top: 25%;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
    }

    .submit {
        // display: block;
        // margin: 0 auto;
        @include mixins.button-style;
    }
}

.story {
    .image-container {
        position: relative;
        @include mixins.breakpoint(desktop) {
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: none;
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0) 90%,
                    rgba(0, 0, 0, 1) 100%
                );
            }
        }
    }
    .story-img {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    margin-bottom: 25vh;
}
